%% -*- mode: erlang -*-
{ erl_opts
, [ debug_info
  , strict_validation
  , warn_export_vars
  , warn_exported_vars
  , warnings_as_errors
  ]
}.

{plugins, [{tqformat, "0.1.2"}]}.

{deps, [{dj, "0.3.0"}, {jsx, "3.0.0"}]}.

{tqformat, [{files, ["{src,test}/*.{hrl,erl,app.src}", "rebar.config"]}, {width, 96}]}.
